@import url(style.css);

.grid-area{
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    grid-template-areas: "header header header header header header"
                         "menu-lateral contenido-principal contenido-principal contenido-principal contenido-principal barra-noticias"
                         "menu-lateral contenido-principal contenido-principal contenido-principal contenido-principal barra-noticias"
                         "menu-lateral contenido-principal contenido-principal contenido-principal contenido-principal barra-noticias"
                         "menu-lateral contenido-principal contenido-principal contenido-principal contenido-principal barra-noticias"
                         "pie-pagina pie-pagina pie-pagina pie-pagina pie-pagina pie-pagina";
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    background-color: yellow;
  }
  
  .menu-lateral{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: menu-lateral;
    background-color: lime;
  }
  
  .pie-pagina{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: pie-pagina;
    background-color: red;
  }
  
  .contenido-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: contenido-principal;
    background-color: skyblue;
  }
  
  .barra-noticias{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: barra-noticias;
    background-color: rgb(225, 81, 4);
}