@import url(style.css);

.grid-capas{

    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    /* gap: 10px; */
}

.ojo{
    width: 80%;
    height: 80%;
    object-fit: cover;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.texto{
    z-index: 1;
}